/*  Requête média uniquement nécessaire sur l'éditeur en ligne : */

@media (max-width: 500px) {
  /* header */

  header {
    flex-direction: column;
  }

  header ul {
    flex-direction: column;
    text-align: center;
  }

  header ul li {
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-bottom: 1px dotted #ddd;
  }

  .header .logo {
    text-align: center;
    margin: auto;
  }

  /* bg-image */

  .text-content {
    font-size: 16px;
  }

  /* offer */
  .flat-content {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .flat-content h2 {
   margin: auto;
   text-align: center;
  }

  .img-flat {
  width: 100%;
  }

    .houses {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .house-eleme {
    margin: 0;
  }

  /* Team */

  .team-bloc {
    display: flex;
    flex-direction: column;
  }

  .image-team {
    height: 300px;
    width: 100%;
  }

  .xp-content {
    padding: 2rem;
  }

  /* avis */

  .avis-content {
    padding: 20px 0;
  }

  .bloc-content {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .bloc-content h2 {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
  }

  .bloc-white {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .text-profil, .text-profil2, .text-profil3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    margin: auto;
  }

  .text-profil3 {
    padding-top: 0;
  }

  .text-profil2 {
    margin-bottom: 2rem;
  }

  /* contact */

  .contact {
    padding: 5rem 1rem 5rem 1rem;
  }

  .contact button {
    margin: 3rem auto 0 auto;
  }
}
