* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #333;
}
.header h2 {
  font-family: "Long Cang";
  font-size: 3rem;
  font-weight: 300;
}

.logo {
  display: flex;
  align-items: center;
}
.header h2 a:hover {
  text-decoration: none;
  color: #eee;
}

.icon-crown {
  color: #f1c40f;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

.header li {
  margin-left: 2em;
}

.header a {
  color: white;
}

.header ul a:hover {
  color: #f1c40f;
  text-decoration: none;
}

/* first image */

.bg-image {
  background-image: url("../images/frame.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.text-content {
  color: white;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 30px;
}
.text-content h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.text-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* flat content */

.flat-content {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #333;
  padding: 10rem 1rem;
}
.flat-content h2 {
  margin-bottom: 3rem;
  margin-left: 10rem;
  font-size: 2rem;
  font-weight: 300;
}

.houses {
  display: flex;
  justify-content: space-around;
  margin: 0 10em;
}

.house-elem {
  background-color: white;
  text-align: center;
}
.house-elem hr {
  max-width: 50px;
  margin: auto;
  font-weight: bold;
  border: 2px solid black;
  margin-bottom: 1em;
}

.img-flat {
  width: 366px;
  height: 244px;
}

/* team content */

.team-bloc {
  display: flex;
  background: #333;
}

.xp-content {
  color: white;
  margin: auto 2rem;
  max-width: 900px;
}
.xp-content h2 {
  margin-bottom: 2rem;
  font-size: 1.5em;
  font-weight: bold;
}
.xp-content p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.image-team {
  height: 600px;
  width: 887px;
}

/* Avis */

.avis-content {
  background: #eee;
  padding: 5rem 1rem;
}

.avis-content h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 22rem;
}

.bloc-content {
  display: flex;
  flex-direction: column;
}

.bloc-white {
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  height: 172px;
  width: 1200px;
}

.user-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 0.5rem;
}

.text-profil p,
.text-profil2 p,
.text-profil3 p {
  margin-bottom: 0;
}

.text-profil2 {
  margin-right: 2rem;
}
.text-profil3 {
  margin-left: 2rem;
}

.text-profil p {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin-bottom: 0.8rem;
}

.bloc-white i {
  margin: 0 5px;
}

/* Contact */

.contact {
  background-color: #333;
  padding: 6rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  max-width: 600px;
  margin: auto;
}

.form-bloc h2 {
  display: flex;
  justify-content: center;
}

.form-bloc input {
  background: #333;
  border: 0;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  outline: 0;
  margin-bottom: 1rem;
}

.btn-submit {
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 30px;
  background: #f1c40f;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: red;
}

footer {
  background: #444;
  padding: 2rem 1rem;
  color: white;
  text-align: center;
}
